@model IEnumerable<MvcGuestBook.Models.Guestbook>

@{  // 有括號沒括號有差喔!
    ViewBag.Title = "顯示留言";
}


<h2>顯示留言</h2>

<p>
    @Html.ActionLink("留下足跡", "Write")
</p>
<table>
    <tr>
        <th>
            <font size='5' color='666633'>
            @Html.DisplayNameFor(model => model.Member.Name)
 
            </font>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.No }) |
            @Html.ActionLink("Details", "Details", new { id=item.No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.No })
        </td>
    </tr>
}

</table>
