@{
    ViewBag.Title = "關於";
}

@RouteTable.Routes.GetVirtualPath(
    Request.RequestContext,  // 取得現有網址要求資訊
    new RouteValueDictionary(new{ page = 1 })  //設定一個新的路由參數
).VirtualPath

<!-- 畫面會顯示 /Home/About?page=1 -->

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        使用此區域提供其他資訊。
    </p>

    <p>
        使用此區域提供其他資訊。
    </p>

    <p>
        使用此區域提供其他資訊。
    </p>
</article>

<aside>
    <h3>側邊標題</h3>
    <p>
        使用此區域提供其他資訊。
    </p>
    <ul>
        <li>@Html.ActionLink("首頁", "Index", "Home")</li>
        <li>@Html.ActionLink("關於", "About", "Home")</li>
        <li>@Html.ActionLink("連絡", "Contact", "Home")</li>
    </ul>
</aside>